@page
@model RazorPagesMovie.Pages.FormTestModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <form method="POST">
        <div>
            <span>@Model.Now</span>
            <input type="hidden" asp-for="Now" />
            ，姓名：
            <input asp-for="Name" placeholder="請輸入姓名" autocomplete="off" />
        </div>
        <div>
            <button type="submit" asp-page-handler="EngGreet">
                Say Hello
            </button>
            <button type="submit" asp-page-handler="ChtGreet">
                問好
            </button>
        </div>
        <div>
            @Model.Message
        </div>
    </form>
</body>
</html>